@import '~antd/dist/antd.css';

:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

*:focus {
    outline: none;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}